In [2]:
import pandas as pd
import plotly as p
import plotly.express as px 
import plotly.io as pio
import plotly.graph_objects as go
import numpy as np
pio.templates.default = "plotly_dark"

In [116]:

years = list(map(str, list(range(2018, 2022, 1)))) # years with data available on BTS
quarters = ("Q1", "Q2", "Q3", "Q4")
denied_board_dfs = list()

# read in data that uses new reporting method - excel sheet with sheet for each quarter 
for year in years: 
    for quarter in quarters:
        file_path = "..\\raw_data\\denied_boarding\\Denied-Confirmed-Space-" + year + "-Operating-Carrier.xlsx"
        sheet = quarter + year
        df = pd.read_excel(file_path, sheet_name=sheet, header = 2)
        # column definitions changed in 2021
        if (year != "2021"):
            df[6] = df[7]
            df[7] = df['8(c)']
            df = df[['CARRIER',    
                     '1(a)',    
                     '1(b)',    
                     '2(a)',    
                     '2(b)',    
                     '2(c)',
                     3,         
                     4,         
                     5,
                     6,
                     7]]
        df['year'] = year
        df['quarter'] = quarter
        df = df[pd.isna(df[6]) != True ]
        denied_board_dfs.append(df)
        
denied_boarding = pd.concat(denied_board_dfs)

,CARRIER,1(a),1(b),2(a),2(b),2(c),3,4,5,6,7,year,quarter
0,Alaska Airlines,0.0,99.0,0.0,17.0,4.0,120.0,99.0,1206.0,5844254.0,0.0,2018,Q1
1,Allegiant Airlines,0.0,0.0,0.0,0.0,58.0,58.0,0.0,0.0,3306693.0,0.0,2018,Q1
2,American Airlines,9.0,295.0,0.0,177.0,2.0,483.0,481.0,15658.0,31525870.0,0.0,2018,Q1
3,Delta Air Lines,0.0,6.0,0.0,6.0,1.0,13.0,6.0,23777.0,30868044.0,0.0,2018,Q1
4,Endeavor Air,0.0,1.0,0.0,1.0,2.0,4.0,1.0,3117.0,2709157.0,0.0,2018,Q1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12,Republic Airways,2.0,98.0,1.0,0.0,0.0,101.0,100.0,2303.0,4664483.0,1037999.0,2021,Q4
13,SkyWest Airlines,0.0,128.0,2.0,30.0,0.0,160.0,160.0,9595.0,10216924.0,4136436.0,2021,Q4
14,Southwest Airlines,244.0,1060.0,0.0,0.0,0.0,1304.0,1304.0,9649.0,35778696.0,0.0,2021,Q4
15,Spirit Airlines,3.0,86.0,0.0,5.0,0.0,94.0,89.0,1853.0,8160830.0,0.0,2021,Q4
16,United Air Lines,0.0,12.0,1.0,3.0,0.0,16.0,16.0,2609.0,21830661.0,0.0,2021,Q4

In [ ]:
denied_boarding = pd.read_csv('..\\raw_data\\Denied-Confirmed-Space-2021-Marketing-Carrier-Q1.csv')
denied_boarding = denied_boarding.iloc[:][0:20] # remove column definitions
""" 1.  Number of passengers who were denied boarding involuntarily from flights that were oversold, and:										
(a)  who qualified for denied boarding compensation within the meaning of § 250.5(a)(2) and 250.5(b)(2)										
(b) who qualified for denied boarding compensation within the meaning of § 250.5(a)(3) and 250.5(b)(3) 										
2.  Number of passengers denied boarding involuntarily from flights that were oversold, who did not qualify for denied boarding compensation due to:										
(a) The passenger does not comply fully with the carrier's contract of carriage or tariff provisions regarding ticketing, reconfirmation, check-in, and acceptability for transportation (see § 250.6(a)) 										
(b) substitution of aircraft of lesser capacity or due to weight/balance restrictions on an aircraft with a designed passenger capacity of 60 or fewer seats (see § 250.6(b))										
(c) The carrier arranges comparable air transportation or other transportation that is planned to arrive not later than 1 hour after the planned arrival time of the passenger's original flight or flights (see § 250.6(d))carriage										
3.  TOTAL NUMBER DENIED BOARDING INVOLUNTARILY										
4.  Number of passengers denied boarding involuntarily from an oversold flight who actually received compensation, regardless of the type of compensation (e.g., voucher, cash).										
5.  Number of passengers who voluntarily accepted a carrier’s offer to give up reserved space due to a potential oversale situation and did not travel on their original flight in exchange for a payment of the carrier’s choosing.										
6.  Total Boardings										
7.  Amount of compensation paid to passengers who voluntarily accepted a carrier’s offer to give up reserved space on an oversold flight that received cash or cash equivalent payment.										
"""
denied_boarding.columns = ['carrier', 
                           'num_passengers_denied_boarding_involuntarily_1a', 
                           'num_passengers_denied_boarding_involuntarily_1b', 
                           'num_passengers_denied_boarding_involuntarily_2a', 
                           'num_passengers_denied_boarding_involuntarily_2b',
                           'num_passengers_denied_boarding_involuntarily_2c',
                           'num_passengers_denied_boarding_involuntarily_total',
                           'num_passengers_denied_boarding_involuntarily_and_received_comp_total',
                           'num_passengers_voluntarily_gave_up_seat',
                           'total_boardings', 
                           'total_comp_paid_to_passengers_voluntarily_gave_up_seat']

denied_boarding['num_passengers_denied_boarding_involuntarily_1'] = denied_boarding['num_passengers_denied_boarding_involuntarily_1a']+denied_boarding['num_passengers_denied_boarding_involuntarily_1b']
denied_boarding['num_passengers_denied_boarding_involuntarily_2'] = denied_boarding['num_passengers_denied_boarding_involuntarily_2a']+denied_boarding['num_passengers_denied_boarding_involuntarily_2b']+denied_boarding['num_passengers_denied_boarding_involuntarily_2c']
denied_boarding['year'] = 2021
denied_boarding['quarter'] = 1

denied_boarding['total_boardings']  = denied_boarding['total_boardings'].str.replace(",","")  
denied_boarding['total_boardings']  = pd.to_numeric(denied_boarding['total_boardings'])

denied_boarding['num_passengers_voluntarily_gave_up_seat']  = denied_boarding['num_passengers_voluntarily_gave_up_seat'].str.replace(",","")  
denied_boarding['num_passengers_voluntarily_gave_up_seat']  = pd.to_numeric(denied_boarding['num_passengers_voluntarily_gave_up_seat'])

denied_boarding['perc_denied_boarding'] = round(((denied_boarding['num_passengers_denied_boarding_involuntarily_total']+denied_boarding['num_passengers_voluntarily_gave_up_seat'])/denied_boarding['total_boardings'])*100, 6)
denied_boarding['perc_denied_boarding_voluntarily'] = round((denied_boarding['num_passengers_voluntarily_gave_up_seat']/denied_boarding['total_boardings'])*100, 6)
denied_boarding['perc_denied_boarding_involuntarily'] = round((denied_boarding['num_passengers_denied_boarding_involuntarily_total']/denied_boarding['total_boardings'])*100, 6)

denied_boarding = denied_boarding[denied_boarding['carrier'].isin(['Alaska Airlines Network',
                                                 "Allegiant Airlines",
                                                 "American Airlines Network",
                                                 "Delta Air Lines Network",
                                                 "Frontier Airlines",
                                                 "Hawaiian Airlines Network",
                                                 "JetBlue Airways",
                                                 "Southwest Airlines",
                                                 "Spirit Airlines",
                                                 "United Airlines Network"])]